<h2>Add Product</h2>

<form method="POST">

    Name: <input type="text" name="name" required><br><br>

    Price: <input type="number" name="price" step="0.01" required><br><br>

    Discount: <input type="number" name="discount" value="0"><br><br>

    <label>Rating (0–5):</label><br>
    <input type="number" name="rating" step="0.1" min="0" max="5" value="0">
    <br><br>
    
    <label>Availability:</label><br>

    <input type="radio" name="availability" value="In Stock" checked>
    <label>In Stock</label>

    <input type="radio" name="availability" value="Out of Stock">
    <label>Out of Stock</label>

    <br><br>

    <button type="submit">Add Product</button>
</form>

<a href="/">View Products</a>