<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h1>ECOMMERCE WEBSITE 1</h1>

<div class="container">

<h2>Products</h2>

<a class="add-btn" href="/add">+ Add Product</a>

<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Rating</th>
    <th>Availability</th>
    <th>Actions</th>
</tr>

{% for p in products %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>₹{{ p.price }}</td>
    <td>{{ p.discount }}%</td>
    <td>{{ p.rating }} ⭐</td>

    <td>
        {% if p.availability == "In Stock" %}
            <span class="badge instock">In Stock</span>
        {% else %}
            <span class="badge outstock">Out of Stock</span>
        {% endif %}
    </td>

    <td>
        <a href="/edit/{{ p.id }}">✏️</a>
        <a href="/delete/{{ p.id }}">🗑️</a>
    </td>
</tr>
{% endfor %}

</table>

</div>