body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f0f2f5;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #fafafa;
}

.badge {
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}

.instock {
    background-color: #28a745;
}

.outstock {
    background-color: #adb5bd;
}

.add-btn {
    background-color: #2d6cdf;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    float: right;
}
.star {
    color: gold;
    font-weight: bold;
}